<h1>Add a user :</h1>
<form>
  <ion-item>
    <ion-label position="stacked">Login</ion-label>
    <ion-input type="text" [(ngModel)]="userForm.login" name="login"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" [(ngModel)]="userForm.password" name="password"></ion-input>
  </ion-item>
  <img class="form-inline my-2 my-lg-0 button plus-button" (click)="onClickAdd()" src="assets/add.png">
</form>