<ion-menu contentId="content1" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item>
      <app-login></app-login>
    </ion-item>
    <ion-item>
      <ion-button>Edit/export</ion-button>
    </ion-item>
    <ion-item>
      <ion-button>Projects</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="consultUserTimeEvent()">Time</ion-button>
    </ion-item>
    <ion-button style="margin-top: 20px;margin-left: 20px;" (click)="openEnd()">
      < </ion-button>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-title>User</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 *ngIf="displayedView=='default'">Welcom !</h1>
  <app-consult-user-time *ngIf="displayedView=='consultUserTime'" [userToConsultTime]="userToConsultTime">
  </app-consult-user-time>
  <img *ngIf="displayedView=='consultUserTime'" class="form-inline my-2 my-lg-0 button plus-button" src="assets/add.png"
    (click)="onClickAddTime()">
  <app-add-user-time *ngIf="displayedView=='addUserTime'" (pageChangeEvent)="pageChangeEventHander($event)">
  </app-add-user-time>
</ion-content>