<ion-menu contentId="content1" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item>
      <app-login></app-login>
    </ion-item>
    <ion-item>
      <ion-button>Edit/export</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="consultProjectEvent()">Projects</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="consultUserEvent()">Users</ion-button>
    </ion-item>
    <ion-button style="margin-top: 20px;margin-left: 20px;" (click)="openEnd()">
      < </ion-button>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-title>Manager</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 *ngIf="displayedView=='default'">Welcom !</h1>
  <app-consult-project *ngIf="displayedView=='consultProject'" (pageChangeEvent)="pageChangeEventHander($event)">
  </app-consult-project>
  <app-consult-user *ngIf="displayedView=='consultUser'" (pageChangeEvent)="pageChangeEventHander($event)"
    (consultUserTimeEvent)="consultUserTimeEventHander($event)"></app-consult-user>
  <app-consult-user-time *ngIf="displayedView=='consultUserTime'" [userToConsultTime]="userToConsultTime">
  </app-consult-user-time>
  <app-add-user *ngIf="displayedView=='addUser'" (pageChangeEvent)="pageChangeEventHander($event)"></app-add-user>
  <app-create-project *ngIf="displayedView=='createProject'" (pageChangeEvent)="pageChangeEventHander($event)">
  </app-create-project>
</ion-content>