<form *ngIf="!userIsConnected" #loginForm="ngForm">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Adresse email</ion-label>
      <ion-input id="email-input" name="email" type="email" [(ngModel)]="email" #emailInput=ngModel required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input id="password-input" name="password" type="password" [(ngModel)]="password" #passwordInput=ngModel
        required></ion-input>
    </ion-item>
  </ion-list>
</form>
<ion-button *ngIf="!userIsConnected" (click)="login()">Connection</ion-button>
<ion-button *ngIf="userIsConnected" (click)="logout()">Disconnection</ion-button>