<div class="bs-docs-section" clearfix>
    <div class="row">
        <div class="col-lg-12">
            <h1>User time</h1>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Project</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dailyTime of userToConsultTime.dailyTimes; let index = index; let odd = odd; let even = even;"
                    [ngClass]="{ 'table-secondary' : odd, '': even }">
                    <th scope="row">{{dailyTime.date}}</th>
                    <td>{{dailyTime.time}}</td>
                    <td>{{dailyTime.project.name}}</td>
                    <td>
                        <img class="form-inline my-2 my-lg-0 button" src="assets/modify.png">
                        <img class="form-inline my-2 my-lg-0 button" src="assets/delete.png">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>