<div class="bs-docs-section tableBox" clearfix>
  <div class="row">
    <div class="col-lg-12">
      <h1>Projects</h1>
    </div>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Project</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projectList; let index = index; let odd = odd; let even = even;"
          [ngClass]="{ 'table-secondary' : odd, '': even }" (click)="selectedProject.emit(project.idProject)">
          <td>{{ project.name }}</td>
          <td>
            <img class="form-inline my-2 my-lg-0 button" src="assets/modify.png" (click)="onClickModify(project)">
            <img class="form-inline my-2 my-lg-0 button" src="assets/delete.png" (click)="onClickDelete(project)">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>