<div class="bs-docs-section tableBox" clearfix>
  <div class="row">
    <div class="col-lg-12">
      <h1>Users</h1>
    </div>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Login</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList; let index = index; let odd = odd; let even = even;"
          [ngClass]="{ 'table-secondary' : odd, '': even }">
          <td>{{ user.login }}</td>
          <td>
            <img class="form-inline my-2 my-lg-0 button" src="assets/blue_eye.png" (click)="selectedUser.emit(user)">
            <img class="form-inline my-2 my-lg-0 button" src="assets/delete.png">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>