<ion-menu contentId="content1" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item>
      <app-login></app-login>
    </ion-item>
    <ion-item>
      <ion-button (click)="changeUserManagerEvent()">Change manager</ion-button>
    </ion-item>
    <ion-button style="margin-top: 20px;margin-left: 20px;" (click)="openEnd()"><</ion-button>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-title>Administrator</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 *ngIf="displayedView=='default'">Welcome</h1>
  <app-change-user-manager *ngIf="displayedView=='changeUserManager'"></app-change-user-manager>
</ion-content>