<h1>Create a project :</h1>
<ion-item>
  <ion-label position="stacked">Enter a name</ion-label>
  <ion-input [(ngModel)]="projectName" name="projectName" id="projectName" required></ion-input>
</ion-item>
<img class="form-inline my-2 my-lg-0 button" src="assets/add.png" (click)="onClickAdd()">