/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Custom CSS */


ion-toolbar {
	/* noir */
	--background: #222428;
}


ion-title, ion-menu-button {
	/* gris clair */
	--color: #dbe2e9;
}

.button {
    cursor: pointer;
}

/*image "+" resizing*/
.plus-button{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

//Bootstrap and bootswatch
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/bootswatch/dist/darkly/variables";

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";


/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';


/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

