<div class="bs-docs-section tableBox" clearfix>
  <div class="row">
    <div class="col-lg-12">
      <h1>Change an user manager</h1>
    </div>
  </div>
</div>
<form>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Email adress of user</ion-label>
      <ion-input id="userLogin" name="userLogin" type="email" [(ngModel)]="changeForm.user" #userLogin=ngModel required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">New manager email adress</ion-label>
      <ion-input id="managerLogin" name="managerLogin" type="email" [(ngModel)]="changeForm.newManager"
        #managerLogin=ngModel required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="changeUserManager()">Change</ion-button>
    </ion-item>
  </ion-list>
</form>