<h1>Add a daily time :</h1>
<form>
  <ion-item>
    <ion-label position="stacked">Time</ion-label>
    <ion-input type="number" placeholder="1.0" step="0.125" min="0" max="1.0" [(ngModel)]="dailyForm.time" name="time">
    </ion-input>
  </ion-item>
</form>

<ion-item>
  <ion-label>Projects</ion-label>
  <ion-select [(ngModel)]="choosenProjectId">
    <ion-select-option *ngFor="let project of projects" [value]="project.idProject">{{project.name}}
    </ion-select-option>
  </ion-select>
</ion-item>

<img class="form-inline my-2 my-lg-0 button plus-button" (click)="onClickAdd()" src="assets/add.png">